.svg-cont {
    text-align: center;
    height: 32px;
    width: 140px;
    top: 0;
    left: 0;
    transition: all 2s ease-in-out;
}

.svg-cont.move-down {
    top: 30px;
    left: 4px;
}

.creative_btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.undraw {
    animation: draw 700ms ease-in-out forwards;
}

.draw {
    animation: undraw 700ms ease-in-out backwards;
}

.arrow-create{
    stroke-dasharray: 11.3137085;
    animation: create 700ms ease-in-out forwards;
  }

.arrow-dissolve{
    stroke-dasharray: 11.3137085;
    animation: dissolve 700ms ease-in-out forwards;
}

  @keyframes create {
    0%{
      stroke-dashoffset: 11.3137085;
    }
    75%{
      stroke-dashoffset: 11.3137085;
    }
    100%{
      stroke-dashoffset: 0;
    }
  }

  @keyframes dissolve {
    0%{
        stroke-dashoffset: 0;
    }
    75%{
        stroke-dashoffset: 11.3137085;
    }
    100%{
        stroke-dashoffset: 11.3137085;
    }
  }

/*  */
@keyframes undraw {
    0% {
        stroke-dashoffset: -202.24777961; 
    }
    25%{
        stroke-dashoffset: -202.24777961;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes draw {
    0%{
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -202.24777961;
    }
}