/* root css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@300;400;700&display=swap');

:root {
  --popup-offset-lg: 512px;
  --popup-offset-sm: 160px
}

* {
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body css */
body {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Courier New', Courier, monospace, sans-serif;
}

#root {
  min-height: 100vh;
}


/* Calendar month change animation */
.calendar-prev-btn,
.calendar-nxt-btn {
  width: 40px;
  height: 40px;
}

.main-month-container {
  height: 40px;

}

.month-str-container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.month-str-container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.calendar-btn-container {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.static-str-container {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 80px);
  height: 40px;

}

.month-str-container {
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  transition: all 500ms ease-in-out;
}

.month-str-item {
  display: inline-block;
  width: calc(100vw - 512px);
  height: 100%;
  transform-origin: left center;
}

ion-icon{
  color: gray;
}

@media screen and (max-width: 768px) {
  .month-str-container span {
    width: calc(100vw - var(--popup-offset-sm));
  }

  .month-str-item{
    width: calc(100vw - 152px);
  }

  .month-str-container.left {
    transform: translateX(calc(100vw - var(--popup-offset-sm)));
  }

  .month-str-container.normal {
    transform: translateX(0);
  }

  .month-str-container.right {
    transform: translateX(calc(var(--popup-offset-sm) - 100vw));
  }
}