/* root css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@300;400;700&display=swap');

:root {
  --popup-offset-lg: 512px;
  --popup-offset-sm: 160px;
  --ion-color-tertiary: #4f46e5;
  --ion-color-secondary-rgb: 96, 48, 255;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #542ae0;
  --ion-color-secondary-tint: #7045ff;

  --ion-color-success: #16a34a;
  --ion-color-success-rgb: 37, 194, 94;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #15803d;
  --ion-color-success-tint: #22c55e;

  --ion-color-warning: #f0b100;
  --ion-color-warning-rgb: 255, 239, 59;
  --ion-color-warning-contrast: #fff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #fdd835;
  --ion-color-warning-tint: #ffee58;
}

.pulseBtn {
  /* border:1px solid rgba(0, 195, 22); */
  box-shadow: 0 0 0 0 rgba(0, 195, 22, 0.4);
  -moz-animation: pulsebtn 2s infinite;
  -webkit-animation: pulsebtn 2s infinite;
  animation: pulsebtn 2s infinite;
}

@keyframes pulsebtn {
  0% {
    box-shadow: 0 0 0 0 rgb(0, 195, 22, 1);
  }

  70% {
    box-shadow: 0 0 0 4px rgba(0, 195, 22, 0);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(0, 195, 22, 0);
  }
}

* {
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body css */
body {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Courier New', Courier, monospace, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#root {
  min-height: 100vh;
}

/********  CSS for Home Features */

@media screen and (min-width:40rem) {
  .feature-1-active {
    transform: translateX(-98rem);
  }
  /* .feature-1-active {
    transform: translateX(-12rem);
  } */

  .feature-2-active {
    transform: translateX(-98rem);
  }
  /* .feature-2-active {
    transform: translateX(-12rem);
  } */
}

@media screen and (max-width:64rem){
  .feature-1-active {
    transform: translateX(-63rem);
  }

  .feature-2-active {
    transform: translateX(-63rem);
  }
}


/* Calendar month change animation */
.calendar-prev-btn,
.calendar-nxt-btn {
  width: 40px;
  height: 40px;
}

.main-month-container {
  height: 40px;

}

.month-str-container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.month-str-container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.calendar-btn-container {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.static-str-container {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 80px);
  height: 40px;

}

.month-str-container {
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  transition: all 500ms ease-in-out;
}

.month-str-item {
  display: inline-block;
  width: calc(100vw - 512px);
  height: 100%;
  transform-origin: left center;
}

ion-icon {
  color: gray;
}


/* Neo button styling */
/* .neo-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #e8e8e8;
  box-shadow:  -8px -4px 8px 0px #ffffff,
  8px 4px 12px 0px #d1d9e6,
             4px 4px 4px 0px #d1d9e6 inset,
             -4px -4px 4px 0px #ffffff inset;
             ;
} */

/* .neo-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
.neo-btn::after{
  content: '';
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
} */

@media screen and (max-width: 768px) {
  .month-str-container span {
    width: calc(100vw - var(--popup-offset-sm));
  }

  .month-str-item {
    width: calc(100vw - 152px);
  }

  .month-str-container.left {
    transform: translateX(calc(100vw - var(--popup-offset-sm)));
  }

  .month-str-container.normal {
    transform: translateX(0);
  }

  .month-str-container.right {
    transform: translateX(calc(var(--popup-offset-sm) - 100vw));
  }
}