/* root css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body css */
body {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Courier New', Courier, monospace, sans-serif;
}

#root {
  min-height: 100vh;
}

.admin-job-progress-outer {
  width: 100px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  background-color: #dcfce7;
  border: 2px solid #426551;
}
#admin-job-progress {
  height: 100%;
  width: 50px;
  border-radius: 10px;
  background-color: #50d380;
  display: flex;
  justify-content: center;
  align-items: center;
}
